<h1>Hi, Test App Here</h1>

<%= link_to 'Log In Using Line', 'https://access.line.me/oauth2/v2.1/authorize?response_type=code&client_id=1563433382&redirect_uri=https%3A%2F%2Flinebot-staging.herokuapp.com%2F&state=12345abcde&scope=openid%20profile' %>

<%= if @response.exists? %>
  <%= @response %>
<% end %>
